<div class="continer">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-7">
        <h2><%= @customer.full_name %>さんの会員情報の編集</h2>
        <div>
         <%= form_with url:admin_customer_path, model:@customer, local:true do |f| %>
         <table class="table1">
            <tr>
              <td>
                <label class="form-label">会員ID</label>
              </td>
              <td>
                <%= @customer.id %>
              </td>
            </tr>
            <tr>
                <td><label class="form-label">氏名</label></td>
                <td><%= f.text_field :last_name, autofocus: true %></td>
                <td><%= f.text_field :first_name, autofocus: true %></td>
            </tr>
            <tr>
                <td><label class="form-label">フリガナ</label></td>
                <td><%= f.text_field :last_name_kana, autofocus: true %></td>
                <td><%= f.text_field :first_name, autofocus: true  %></td>
            </tr>
        
             <tr>
                <td><label class="form-label">郵便番号</label></td>
                <td><%= f.text_field :postal_code, autofocus: true %></td>
            </tr>
            <tr>
                <td> <label class="form-label">住所</label></td>
                <td> <%= f.text_field :address , autofocus: true %></td>
            </tr>
            <tr>
                <td> <label class="form-label">電話番号</label></td>
                <td><%= f.text_field :phone_number , autofocus: true %></td>
            </tr>
            <tr>
                <td><label class="form-label">メールアドレス</label></td>
                <td><%= f.text_field :email , autofocus: true %></td>
        　　</tr>
        　　<tr>
        　　    <td><label class="form-label"> 会員ステータス</label></td>
        　　    <td>
        　　      <%= f.radio_button :is_deleted, "false" %>有効
                  <%= f.radio_button :is_deleted, "true" %>退会
        　　    </td>
        　  </tr>
        　　<tr>
        　　    <td><%= f.submit "変更内容を保存" %></td>
        　　</tr>
           <% end %>
             </div>
      </table>
  </div>
    <div class="col-3"></div>
  </div>
</div>