<h2><%= @customer.full_name %>さんの会員情報の編集</h2>
<table>
    <div>
        <%= form_with model:@customer, local:true do |f| %>

            <tr>
             <label class="form-label">会員ID</label>
           <%= @customer.id %>
           </tr>

            <p><tr>
          <label class="form-label">氏名</label>
            <%= f.text_field :last_name, autofocus: true %>
            <%= f.text_field :first_name, autofocus: true %>
             </tr>
             </p>
            <p>
             <tr>
            <label class="form-label">フリガナ</label>
            <%= f.text_field :last_name_kana, autofocus: true %>
            <%= f.text_field :first_name, autofocus: true  %>
            </p>
             </tr>

             <tr>
               <label class="form-label">郵便番号</label>
             <%= f.text_field :postal_code, autofocus: true %>
             </tr>
              <tr>
              <p> <label class="form-label">住所</label>
              <%= f.text_field :address , autofocus: true %>
             </p>
               </tr>
               <tr>
             <p> <label class="form-label">電話番号</label>
                <%= f.text_field :phone_number , autofocus: true %>
            </p>
               </tr>
              <tr>
                <p> <label class="form-label">メールアドレス</label>
                <%= f.text_field :email , autofocus: true %>
　            　</p>
　　         </tr>
　　          <tr>
　　             <p> <label class="form-label"> 会員ステータス</label>
　　            </p>
　　           </tr>
　　           <%= f.submit "変更内容を保存" %>
              <% end %>
     </div>
</table>