 <% if customer_signed_in? %>
      <% if @item.is_active? %>
        <%= form_with url:customer_cart_items_path, model: @cart_items, local:true do |f| %>
        <div class="input-group pt-5">
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :quantity, options_for_select((1..20).to_a), {include_blank: "個数選択"}, {class: "form-control rounded"} %>
          <%= f.submit "カートに入れる", class: "ml-2 btn-outline-dark" %>
        </div>
        <% end %>
      <% else %>
        <div class="btn btn-outline-dark">売切れ</div>
      <% end %>
    <% else %>
      <p>ご購入の際は<%= link_to "会員新規登録", new_customer_registration_path %>をお願い致します。</p>
    <% end %>